{% extends 'base.html' %}

{% block body %} 
<p class="h1">Basket</p>
<div class="row">
	{% for product in basket %}
	<div class="card w-25 mx-3">
		<!-- <img src="{{ url_for('static', filename=product.img) }}" class="card-img-top" alt="..."> -->
		<div class="card-body">
			<h5 class="card-title">{{ product.name }}</h5>
			<p class="card-text" style="height: 9.2em; overflow: hidden;">{{product.description}}</p>
		</div>
		<a href="{{ url_for('delete_to_basket', productID=product.id_product) }}" class="btn btn-primary mt-4">Delete</a>
	</div>
	{% endfor %}
	<div>Total: {{total}}₽</div>
</div>
{% endblock %}