{% extends 'base.html' %}

{% block links %} 
{% if current_user.username %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('basket') }}">Basket</a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
</li>
{% endif %}
{% endblock %}

{% block body %} 
<div class="container mt-4 w-50">
	<p class="h1 text-center mb-3">Log in</p>
	<form method="POST">
		{{ form.csrf_token }}
		<div class="input-group mb-3">
			{{ form.email(class_='form-control', type="text", size=3) }}
			<span class="input-group-text" id="basic-addon2" value="{{ request.form['email'] }}">@example.com</span>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">password</span>
			{{ form.password(class_='form-control', type="text") }}
		</div>
		<input type="submit" value="Log in">
		<a href="{{ url_for('singup') }}" class="btn btn-primary">Haven't account</a>
	</form>
</div>

{% endblock %}