{% extends 'base.html' %}

{% block body %} 
<p class="h1 text-center m-4">Choose comics</p>
<div class="card" style="width: 18rem; height: 20px;">
	<img src="{{ url_for('static', filename='images/1.jpg') }}" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">Rick And Morty</h5>
	  <!-- <p class="card-text" style="height: 9.2em; overflow: hidden;">Если вы следите за невероятными приключениями бедолаги Морти и его деда-алкоголика, учёного и по совместительству межгалактического преступника Рика Санчеза и устали ждать выхода третьего сезона, то эта книга определенно поможет вам скоротать время в ожидании.</p> -->
	  <a href="#" class="btn btn-primary mt-4">Buy</a>
	</div>
  </div>
{% endblock %} 